body {
    display: flex;
    justify-content: center;
    background-color: #696969;
}

.grid-container {
    width: 350px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
    background-color: #444;
    border: solid 8px #444;
    box-shadow: 3px 3px 3px 3px #333;
    margin-top: 80px;
    border-radius: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    

}

#zero, #clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

.display {
    background: #939393;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 15px;
    margin: 5px 10px 5px 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.display-text {
    padding: 8px;
    font-size: 45px;
    color: #292929;
}

#clear, #backspace, #divide {
    grid-row-start: 3;
}

#seven, #eight, #nine, #multiply {
    grid-row-start: 4;
}

#four, #five, #six, #minus {
    grid-row-start: 5;
}

#one, #two, #three, #add {
    grid-row-start: 6;
}

#zero, #decimal, #equal {
    grid-row-start: 7;
}

button {
    border-radius: 30px;
    border: none;
    font-size: 25px;
}

.operator, #equal {
    background-color: #5552eea8;
    color: #eee;
}

#clear, #backspace {
    background-color: #696969;
    color: #ccc;
}

.number, #decimal {
    background-color: #ccc;
    color: #111;
}

.number:hover, #decimal:hover {
    background-color: #9a9a9a;
}

.operator:hover, #equal:hover {
    background-color: #5262ee;
}

#clear:hover, #backspace:hover {
    background-color: #888;
}